						<div class="row divider" >&nbsp;</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6 no-padding-left">
								<h4 class="no-margin-top no-margin-bottom">SANCTION SCREENING</h4>
								<p class="left-nav-content">Enable Anti-Money laundering screening for this transaction only. <a>What’s this?</a></p>
							</div>
							<div class="col-xs-12 col-sm-6 no-padding-right">									
								<!-- <input type="checkbox" name="sanction" id="sanction" ng-model="vm.sanctionStatus" value="sanction" ng-change="vm.sanctionChange(vm.sanctionStatus)" />
								<label for="sanction">Enable Sanction Screening</label> -->
									<div class="checkbox no-padding-top">
										<input type="checkbox" name="sanction" id="sanction" ng-model="vm.sanctionStatus" value="sanction" ng-change="vm.sanctionChange(vm.sanctionStatus)" />
										<label for="sanction"><span></span>Enable Sanction Screening</label>
									</div>
<!-- 							        <div class="checkbox">
							            <label style="font-size: 1.2em" for="sanction">
							                <input type="checkbox" name="sanction" id="sanction" ng-model="vm.sanctionStatus" value="sanction" ng-change="vm.sanctionChange(vm.sanctionStatus)" />
							                <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							                Enable Sanction Screening
							            </label>
							        </div>
 -->							</div>
						</div>